
header {
    color: #1B242C;
    background-color: #CEADA4;
}


img {
    opacity:0.4;
    filter:alpha(opacity=40);
    width: 100%;
    height: 100%;
 }

.row {
     font-size: 14px;
    text-align: left;
 }

 body {
     background-image: url(../images/rafael-leao-YJ4hqRchpWE-unsplash.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

.form {
    margin-bottom: 20px;
    
} 

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 900px;
}

.card table {
    width: 850px;
}

label {
    font-weight: bolder;
    width: fit-content;

}

tbody tr th td{
    width: 850px;
}