
header {
    color: white;
    font-size: 60px; 
    width: 800px;
    border-color: rgb(104,139,56);
    border-width: 2px;
}

.card-header {
    color: white;
    font-size: 50px; 
    background-color:rgb(39, 79, 114);
    border-color: white;
    width: 800px;
    
}

img {
    opacity:0.4;
    filter:alpha(opacity=40);
    width: 100%;
    height: 100%;
 }

.row {
     font-size: 14px;
    text-align: left;
 }

 body {
     background-image: url(../images/rafael-leao-YJ4hqRchpWE-unsplash.jpg);
     background-size: cover;
     background-repeat: no-repeat;
}

.form {
    margin-bottom: 20px;

} 

.container {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 800px;
}

.card {
    width: 800px;
}

table {
    width: 800px;
}

label {
    font-weight: bolder;
    margin-left: 40px;
    padding: 0%;
    text-align: right;
    }

tbody tr th td{
    width: 800px;
}

button {
    background-color: rgb(104,139,56);
    color: white;
}

input {
    width: 300px;
    padding: 0%;
}
